/Debug
/T1_Open_A_Window/Debug
/T2_Hello_Dot/Debug
/OGLDev.sdf
/OGLDev.v12.suo
/OGLDev.opensdf
/T3_First_Triangle/Debug
/T4_Shader/Debug
/T5_Uniform_Variables/Debug
/T6_Translation_Transformation/Debug
/T7_Rotation_Transformation/Debug
/T8_Scaling_Transformation/Debug
/T9_Interpolation/Debug
/T10_Indexed_Draws/Debug
